.CircularBars {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.CircleContainer {
  width: 200px;
  height: 200px;
  margin: 0 20px;
}

.component {
  width: 200px;
  margin: auto;
  text-align: "center";
}
